
body{
  background-color: white;
}


.date{
    font-family: 'Englebert', cursive;
    text-align: center;
    font-size: 5em;
    padding-top: 10%;
  }
  .header-pic {
    padding: 6%; 
  }
  .pic{
  display: flex;
  align-items: center;
  border: double 5px black;
  }
  .blurb{
    font-family: "Rasa", serif;
    font-size: 1.3em;
    text-align: center;
    padding: 3%;
  margin: 3%;
    max-height:475px;
    color: white;
  }
  .blurbb{
    background-color:#cc0033 ;
    border-radius: 20%;
    box-shadow: 0 4px 8px 0 #000000, 0 6px 20px 0 #797979;
    margin-top: 3%;
  }
  .datee{
    border: solid #cc0033 3px;
    margin-top: -2%;
    opacity: 100%;
    width: 250px;
  margin-left: auto;
  margin-right: auto;
  font-family: "Old Standard TT", serif;
  font-weight: 700;
    font-style: normal;
  }
  .navv{
    background-color: black;
    color: white;

  }
  .navbar-brand{
    color:white;
    transition: 0.5s;
  }
  .navbar-brand:hover{
    color:#9b9595;
    transition: 0.5s;
  }
  .date{
    font-family: "Old Standard TT", serif;
    font-weight: 700;
    font-style: normal;
    color: black;
  }
.linee{
  border: solid #9b9595 2px;
opacity: 100%;
}
.learning{
  font-family: "Old Standard TT", serif;
 font-weight: 700;
}
.aca {
  height:300px;
  background: url(imgs/aca.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center, center;
}

.stud {
  height:300px;
  background: url(imgs/stud.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center, center;
}
.fin {
  height:300px;
  background: url(imgs/fin.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center, center;
}
.alu {
  height:300px;
  background: url(imgs/alumni.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center, center;
}

.white {
  height:300px;
  background: #cc0033;
}


.title-heading {
  font-family: "Rasa", serif;
  font-weight: 900;
  opacity: 89%;
  color:#ffffff;
  font-size: clamp(4rem, 5vw, 400px);
  text-decoration-line: underline;
  text-decoration-skip-ink: none;
  text-decoration-color: #cc0033;
  text-decoration-thickness:3px;

}
.description {
  color: #ffffff;
  font-family: "Rasa", serif;
  font-size: clamp(1rem, 1.2vw, 400px);
}

.roww {
  box-shadow: 0 4px 8px 0 #000000, 0 6px 20px 0 #797979;
}
.row:target {
  box-shadow: 0 4px 8px 0 #000000, 0 6px 20px 0 #797979;
  border-color: #503b3b;
  animation: ease-in-out;
  opacity: 4;
}
