
body{
  background-color: white;
}


.date{
    font-family: 'Englebert', cursive;
    text-align: center;
    font-size: 5em;
    padding-top: 10%;
  }
  .header-pic {
    padding: 6%; 
  }
  .pic{
  display: flex;
  align-items: center;
  border: double 5px black;
  }
  .blurb{
    font-family: "Rasa", serif;
    font-size: 1.3em;
    text-align: center;
    padding: 3%;
  margin: 3%;
    max-height:475px;
    color: white;
  }
  .blurbb{
    background-color:#cc0033 ;
    border-radius: 20%;
    box-shadow: 0 4px 8px 0 #000000, 0 6px 20px 0 #797979;
    margin-top: 3%;
  }
  .datee{
    border: solid #cc0033 3px;
    margin-top: -2%;
    opacity: 100%;
    width: 250px;
  margin-left: auto;
  margin-right: auto;
  font-family: "Old Standard TT", serif;
  font-weight: 700;
    font-style: normal;
  }
  .navv{
    background-color: black;
  }
  .navbar-brand{
    color:rgb(255, 255, 255);
    transition: 0.5s;
    font-family: "Rasa", serif;
    font-size: 25px;
  }
  .navbar-brand:hover{
    color:#9b9595;
    transition: 0.5s;
  }
  .date{
    font-family: "Old Standard TT", serif;
    font-weight: 700;
    font-style: normal;
    color: black;
  }
.linee{
  border: solid #9b9595 2px;
opacity: 100%;
}
.learning{
  font-family: "Old Standard TT", serif;
 font-weight: 700;
}
.aca {
  height:300px;
  background: url(imgs/aca.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center, center;
}

.stud {
  height:300px;
  background: url(imgs/stud.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center, center;
}
.fin {
  height:300px;
  background: url(imgs/fin.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center, center;
}
.alu {
  height:300px;
  background: url(imgs/alumni.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center, center;
}

.white {
  height:300px;
  background: #cc0033;
}


.title-heading {
  font-family: "Rasa", serif;
  font-weight: 900;
  opacity: 89%;
  color:#ffffff;
  font-size: clamp(4rem, 5vw, 400px);
  text-decoration-line: underline;
  text-decoration-skip-ink: none;
  text-decoration-color: #cc0033;
  text-decoration-thickness:3px;

}
.description {
  color: #ffffff;
  font-family: "Rasa", serif;
  font-size: clamp(1rem, 1.2vw, 400px);
}

.roww {
  box-shadow: 0 4px 8px 0 #000000, 0 6px 20px 0 #797979;
}
.row:target {
  box-shadow: 0 4px 8px 0 #000000, 0 6px 20px 0 #797979;
  border-color: #503b3b;
  animation: ease-in-out;
  opacity: 4;
}

.nav-link {
  color: white;
}

.nav-link:hover {
  color: white;
}

.nav-link:focus {
  color: red;
}

/* footer */
.sign{
  color: #cc0033;
  font-size: 40px;
}
footer {
  background-color: #000000;
  color: #fff;
  bottom: 0;
  width: 100%;
  font-size: 20px;
}

.footerwords {
  font-family: "Old Standard TT", serif;
  font-size: 50px;
  text-decoration: underline;
  text-decoration-thickness:3px;
  color: #cc0033;
}


/* social media icons*/
.wrapped {
  display: grid;
  height: 100%;
  width:100%;
  place-items: center;
}

.wrap {
  display: inline-flex;
}

.wrap .icon {
  margin: 50px 20px 20px 20px;
  color: rgb(90, 85, 81);
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  position: relative;
  z-index: 2;
  transition: all 0.4s cubic-bezier(0.68,-0.55,0.265,1.55);
}

.wrap .icon span {
  position: relative;
  height: 70px;
  width: 70px;
  display: block;
  background: #fff;
  text-align: center;
  border-radius: 50%;
  z-index: 2;
  box-shadow: 0 10px 10px rgba(0,0,0,0.1);
  transition: all 0.4s cubic-bezier(0.68,-0.55,0.265,1.55)
}
.wrap .icon span i {
  font-size: 35px;
  line-height: 70px;
}

.wrap .icon:hover span{
  color: #fff;
}

.wrap .icon .tooltipp {
  position: absolute;
  top: 0px;
  background: #fff;
  color: #fff;
  font-size: 20px;
  padding: 10px 18px;
  border-radius: 25px;
  box-shadow: 0 10px 10px rgba(0,0,0,0.1);
  opacity: 0;
  pointer-events: none;
  transition: all 0.4s cubic-bezier(0.68,-0.55,0.265,1.55);
}

.wrap .icon:hover .tooltipp {
  top: -70px;
  opacity: 1;
  pointer-events: auto;
}

.wrap .icon .tooltipp:before {
  position: absolute;
  content: "";
  height: 15px;
  width: 15px;
  background: #fff;
  bottom: -7px;
  left: 50%;
  transform: translateX(-50%) rotate(45deg);
  transition: all 0.4s cubic-bezier(0.68,-0.55,0.265,1.55);
}

.wrap .icon:hover span,
.wrap .icon:hover .tooltipp {
  text-shadow: 0px -1px 0px rgba(0,0,0,0.4);
}

.wrap .facebook:hover span,
.wrap .facebook:hover .tooltipp,
.wrap .facebook:hover .tooltipp:before {
  background: #1877F2;
  transition: all 0.4s cubic-bezier(0.68,-0.55,0.265,1.55);
}

.wrap .twitter:hover span,
.wrap .twitter:hover .tooltipp,
.wrap .twitter:hover .tooltipp:before {
  background: #54b9f8;
  transition: all 0.4s cubic-bezier(0.68,-0.55,0.265,1.55);
}

.wrap .instagram:hover span,
.wrap .instagram:hover .tooltipp,
.wrap .instagram:hover .tooltipp:before {
  background: #e440e4;
  transition: all 0.4s cubic-bezier(0.68,-0.55,0.265,1.55);
}

.fwords{
  font-family: "Rasa", serif;
}

/* footer */